<nav ui-nav>
  <ul class="nav">
    <li><div class="b-b b m-v-sm"></div></li>
    <li class="no-bg">
      <a class="auto">
      	<span class="nav-icon">
          <i class="material-icons inline">&#xe835;</i>
          <i class="material-icons text-warn none">&#xe834;</i>
        </span>
        <span class="nav-text">Filter</span>
      </a>
    </li>
    <li class="no-bg">
      <a>
        <span class="nav-icon">
          <i class="material-icons">&#xe83a;</i>
        </span>
        <span class="nav-text">
          Star<small class="block text-muted">Border</small>
        </span>
      </a>
    </li>
    <li><div class="b-b b m-t-sm"></div></li>
    <li class="no-bg">
      <a href="../../data/logout.php">
        <span class="nav-icon">
      	 <i class="material-icons">&#xe8ac;</i>
        </span>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
