<nav ui-nav>
  <ul class="nav">
    <li class="no-bg">
      <a href="../../data/logout.php">
        <span class="nav-icon">
      	 <i class="material-icons">&#xe8ac;</i>
        </span>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
